@media (min-width: 900px) {
    .css-1t6c9ts {
        align-items: center;
    }
}

.css-1fg7pmc-MuiButtonBase-root-MuiButton-root{
    padding-left: 20px !important;
    margin-left: 30px !important;    
}

.css-1hc1fad-MuiButtonBase-root-MuiButton-root{
    padding: 6px 8px !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: white !important;
    width: 100% !important;
}

