
.header {
    align-items: center;
    display: flex;
    height: 122px;
    justify-content: space-between;
    mix-blend-mode: darken;
    position: relative;
    min-width: 1050px; /*esto se lo puse para que no se overlappeen (superpongan, se ponga uno arriba del otro) las cosas */
  }
  
