:root {
    /* Tamaño de fuente y estilo para fuente 14-medium */
    --14-medium-font-family: "Inter-Medium", Helvetica;
    --14-medium-font-size: 14px;
    --14-medium-font-style: normal;
    --14-medium-font-weight: 500;
    --14-medium-letter-spacing: 0px;
    --14-medium-line-height: 20px;
  
    /* Tamaño de fuente y estilo para fuente 14-regular */
    --14-regular-font-family: "Inter-Regular", Helvetica;
    --14-regular-font-size: 14px;
    --14-regular-font-style: normal;
    --14-regular-font-weight: 400;
    --14-regular-letter-spacing: 0px;
    --14-regular-line-height: 20px;
  
    /* Tamaño de fuente y estilo para fuente 16-medium */
    --16-medium-font-family: "Inter-Medium", Helvetica;
    --16-medium-font-size: 16px;
    --16-medium-font-style: normal;
    --16-medium-font-weight: 500;
    --16-medium-letter-spacing: 0px;
    --16-medium-line-height: 24px;
  
    /* Colores y paleta de colores */
    --collection-1-white: rgba(255, 255, 255, 1);
    --palette-text-primary: rgba(0, 0, 0, 0.87);
    --tailgrids-black-color: rgba(33, 43, 54, 1);
    --tailgrids-color: rgba(48, 86, 211, 1);
    --tailgrids-text-color: rgba(99, 115, 129, 1);
    --white: rgba(255, 255, 255, 1);
  }

.frameservicioprofesores {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 944px;
    /*padding: 32px 170px; originalmente estaba este*/
    padding: 24px 120px 34px 144px;
    position: relative;
  }

  @media screen and (max-width: 500px) {
      .divservicioprofesores {
          background-color: rgba(0, 0, 0, 0.099);
          border-radius: 35px;
          padding-top: 3rem;
          padding-bottom: 3rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }


        .div-wrapperservicioprofesores {
        align-items: center;
          background-color: #ffd8d8;
          border: 1px solid;
          border-color: #cbcbcb;
          border-radius: 26px;

          gap: 10px;
          height: 50px;
          width: 150px;
          justify-content: center;
          overflow: hidden;
          position: relative;
          font-family: "Quicksand", Helvetica;
          font-size: 16px;
          font-weight: 600;
          color: #232323;
          
        }


  }


    @media screen and (min-width: 500px) {
      .frameservicioprofesores .text-wrapperservicioprofesores {
        align-self: stretch;
        color: #353535;
        font-family: "Quicksand", Helvetica;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 48px;
        margin-top: -1px;
        position: relative;
      }
}
  
  .frameservicioprofesores .divservicioprofesores {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 18px 18px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .frameservicioprofesores .text-wrapper-2servicioprofesores {
    color: #000000cc;
    flex: 1;
    font-family: "Roboto", Helvetica;
    min-width: 130px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .frameservicioprofesores .filtro-frecuenciaservicioprofesores {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    max-width: 250px;
    min-width: 162px;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cbcbcb;
    border-radius: 26px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    height: 46px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 4px;
    padding-bottom: 5px;
    font-family: "Quicksand", Helvetica;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
  }
  
  .frameservicioprofesores .placeholder-wrapperservicioprofesores {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cbcbcb;
    border-radius: 26px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .frameservicioprofesores .placeholderservicioprofesores {
    color: #000000b2;
    font-family: "Righteous", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  @media screen and (min-width: 500px) {
    

      .frameservicioprofesores .div-wrapperservicioprofesores {
        align-items: center;
        background-color: #ffd8d8;
        border: 1px solid;
        border-color: #cbcbcb;
        border-radius: 26px;
        display: flex;
        flex: 1;
        flex-grow: 1;
        gap: 10px;
        height: 50px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        font-family: "Quicksand", Helvetica;
        font-size: 16px;
        font-weight: 600;
        color: #232323;

      }
        }
  
  .frameservicioprofesores .tag-profesor-wrapperservicioprofesores {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 42px 42px;
    height: 617px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  


  .custom_select{
    border: 1px solid;
    border-color: #cbcbcb;
    width: 188px;

}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 34px !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    height: 50px !important;

}


